h2 {
    font-weight: 600;
}

h1 {
    font-weight: 700;
}

mat-expansion-panel {
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 1rem !important;
}

mat-panel-title {
    height: 60px !important;
    line-height: 60px;
}

mat-panel-title.alt-header {
    justify-content: flex-end !important;
}

.dark {
    background-color: rgb(48, 48, 48) !important;
}

.dark {
    background-color: rgb(48, 48, 48) !important;
}

.beta-card {
    margin: 1rem 5%;
}

.intro-card {
    text-align: center;
    margin: auto;
    padding: 6rem 10rem;
    margin-bottom: 3rem;
    max-width: 20rem;
    color: white;
}

.info-card {
    box-sizing: border-box;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}

.warning-card {
    color: black;
    background: #ffcf44;
    margin: 1rem 5% 1rem 5%;
    text-align: center;
}

.graph-card {
    width: 60%;
    margin: auto;
}

.graph {
    display: inline-block;
}

::ng-deep ngx-charts-bar-vertical-2d {
    text, p {
        color: white !important;
        fill: white !important;
    }
}