<main class="centered">
    <div *ngIf="!isLoaded" style="align-items: center;">
        <mat-spinner color="primary"></mat-spinner>
    </div>

    <div *ngIf="isLoaded">

        <mat-card class="intro-card curved shadow animated-gradient">
            <h1>My Insights</h1>
        </mat-card>

        <div style="width: 60vw; min-height: 800px" *ngIf="hasStats && hasBasicProperties()">
            <mat-tab-group dynamicHeight mat-align-tabs="center">
                <mat-tab label="📈 Basic">
                    <mat-card class="info-card" *ngIf="!hasBasicProperties()">
                        <mat-card-title>
                            <h2>Not enough data yet.</h2>
                        </mat-card-title>
                        <mat-card-content>
                            <p>We haven't been able to gather enough data to make meaningful conclusions about you. Come back soon!</p>
                        </mat-card-content>
                    </mat-card>
                    
                    <app-basic-card [userStats]="userStats" *ngIf="isLoaded && hasBasicProperties()"></app-basic-card>
                </mat-tab>

                <mat-tab label="📆 Habits">
                    <mat-card class="info-card" *ngIf="isNewAccount()">
                        <mat-card-title>
                            <h2>We need more time!</h2>
                        </mat-card-title>
                        <mat-card-content>
                            <p>A week after you register, you'll be able to analyze your personal trends of delegating yourself tasks, when you're most efficient, and more. Until then, use the app as you normally would.</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="info-card" *ngIf="!isNewAccount() && !hasHabitProperties()">
                        <mat-card-title>
                            <h2>Not enough data yet.</h2>
                        </mat-card-title>
                        <mat-card-content>
                            <p>It's been a week, but it looks like you haven't used your boards very much. An empty habits page wouldn't have anything to tell you, so keep using your boards and come back soon.</p>
                        </mat-card-content>
                    </mat-card>

                    <app-habits-card [userStats]="userStats" *ngIf="isLoaded && !isNewAccount() && hasHabitProperties()"></app-habits-card>
                </mat-tab>

                <mat-tab label="Third">
                    <ng-template mat-tab-label>
                        😇 Sentiment Analysis 
                        <mat-chip-list aria-label="Beta feature">
                            <mat-chip class="pro-gradient" (selectable)="false">Beta</mat-chip>
                        </mat-chip-list>
                    </ng-template>

                    <mat-card class="info-card" *ngIf="!hasBasicProperties()">
                        <mat-card-title>
                            <h2>Not enough data yet.</h2>
                        </mat-card-title>
                        <mat-card-content>
                            <p>We haven't been able to gather enough data to make meaningful conclusions about you. Come back soon!</p>
                        </mat-card-content>
                    </mat-card>

                    <app-sentiment-card [userStats]="userStats" *ngIf="isLoaded && hasBasicProperties()"></app-sentiment-card>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div style="text-align: center;" *ngIf="!hasStats || !hasBasicProperties()">
            <h2>Not enough data yet.</h2>
    
            <p>Keep using your boards normally, {{ getFirstName() }}, and we'll fill this up soon enough.</p>
        </div>
    </div>
</main>
