.header-img {
    max-width: 60%;
    max-height: fit-content;
}

.mat-card-image {
    margin-bottom: -20px !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

h2 {
    font-weight: 600;
}