<main class="centered">
    <div *ngIf="!isLoaded" style="align-items: center;">
        <mat-spinner color="primary"></mat-spinner>
    </div>

    <div *ngIf="isLoaded">

        <mat-card class="intro-card shadow animated-gradient" style="color: white;">
            <mat-card-content><h1>Your insights</h1></mat-card-content>
        </mat-card>

        <div *ngIf="hasStats">
            <mat-card class="info-card">
                <mat-card-title>
                    <h2>Basic</h2>
                </mat-card-title>
                <mat-card-content>
                    <p>{{ getFirstName() }}, you've created {{ userStats.boardsCreated }} boards and {{ userStats.tasksCreated }} tasks so far.</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div style="text-align: center;" *ngIf="!hasStats">
            <h2>Not enough data yet.</h2>
    
            <p>Keep using your boards normally, {{ getFirstName() }}, and we'll fill this up soon enough.</p>
        </div>
    </div>
</main>
