<mat-sidenav-container class="sidenav-container">

    <!-- SIDENAV -->
  
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
       
        <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
        <a *ngIf="!(afAuth.authState | async)" mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
        <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban</a>
        <a *ngIf="afAuth.authState | async" mat-list-item routerLink="/stats" (click)="drawer.close()">My Insights</a>
        <a *ngIf="afAuth.authState | async" mat-list-item routerLink="/login" (click)="afAuth.signOut()">Logout</a>
        <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
  
      <!-- TOOLBAR -->
  
      <mat-toolbar class="fullview">
        <button 
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
  
  
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="logo" routerLink="/">Panko</span>
  
        <span class="fill-space"></span>
        
        <div *ngIf="!(isHandset$ | async)">
          <a mat-button routerLink="/about">🧪 About</a>
          <a mat-button routerLink="/planner">📝 Planner</a>
          <a *ngIf="!(afAuth.authState | async)" mat-button routerLink="/login">🔑 Login</a>
          <a *ngIf="afAuth.authState | async" mat-button [matMenuTriggerFor]="menu">🧑 Profile <mat-icon>expand_more</mat-icon></a>
        </div>
        
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/stats">
            <i>📊</i>
            <span>My Insights</span>
          </a>
          <a mat-menu-item (click)="signOut()">
            <i>⛔️</i>
            <span>Logout</span>
          </a>
        </mat-menu>
      </mat-toolbar>
  
      <ng-content></ng-content>
  
    </mat-sidenav-content>
</mat-sidenav-container>