h1 {
    font-weight: 600
}

main {
    width: 60vw;
    min-width: 600px;
    max-width: 90vw;
    margin: auto;
}

.demo-img {
    transform: scale(1);
}

mat-card {
    margin-bottom: 2rem;
}

mat-card-content {
    padding: 0rem 2rem;

    h3 {
        font-weight: 400;
    }
}

.buttons {
    margin-top: 1rem;
}

.jumbotron {
    margin-bottom: 4rem;
}

::ng-deep .mat-tooltip {
    font-size: 0.75em;
}