<main>
    <mat-card class="jumbotron curved">
        <mat-card-content>
            <h1>Your open-source productivity assistant. 🤸🏼‍♂️</h1>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-content>
            <h2><strong>Develop your motivations to their potential</strong></h2>
            <h4>
                Resolutions don't work because your mind <span class="underline"
                matTooltip="Hal Ersner-Hershfield, G. Elliott Wimmer, Brian Knutson, Saving for the future self: Neural measures of future self-continuity predict temporal discounting, Social Cognitive and Affective Neuroscience, Volume 4, Issue 1, March 2009, Pages 85–92, https://doi.org/10.1093/scan/nsn042"
                matTooltipPosition="above">regards your future self differently</span>.
                <br>
                Commit yourself to your aspirations by writing them down with a streamlined interface.
            </h4>

            <div class="buttons">
                <a mat-stroked-button href="/login"><mat-icon>send</mat-icon> Create your first board</a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content style="text-align: right;">
            <h2><strong>Understand how and when you do your best work</strong></h2>
            <h4>
                Our free and open-source software studies your behavior while completing tasks.
                <br>
                Based off of its findings, it provides actionable and <span class="underline"
                matTooltip="Claims we make have accessible references to relevant research."
                matTooltipPosition="above">research-backed (hover me)</span> recommendations for you.
            </h4>

            <div class="buttons">
                <a mat-stroked-button href="https://github.com/thejykim/pankoapp#data-storage" target="_blank"><mat-icon>dns</mat-icon> See exactly what data we collect</a>
            </div>
        </mat-card-content>
    </mat-card>
</main>
