.text {
    padding-top: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

h1 {
    font-weight: 600
}

.jumbotron {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    background: rgb(40,227,159);
    background: linear-gradient(45deg, rgba(40,227,159,1) 0%, rgba(0,228,255,1) 90%);
}