<main>
  <div class="tip">
    <mat-card class="curved" style="display: inline-flex">
      <mat-card-content style="display: inline-table">
        <p *ngIf="randomInt > 0.5"><strong>Tip:</strong> Right click on tasks to mark them as complete.</p>
        <p *ngIf="randomInt < 0.5"><strong>Tip:</strong> Deleting boards or tasks does not delete the data used for calculating insights. Feel free to clean up unnecessary clutter!</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="new-board">
    <mat-form-field appearance="outline">
      <mat-label>New board</mat-label>
      <input matInput placeholder="What's up?" autocomplete="off" [(ngModel)]="boardTitle" cdkTextareaAutosize="false">
      <button matSuffix mat-icon-button color="primary" (click)="createNewBoard()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
  
  <div cdkDropList cdkDropListOrientation="horizontal" class="boards" (cdkDropListDropped)="drop($event)">
    <app-board cdkDrag *ngFor="let board of boards" [board]="board" [boardTitle]="board.title">
      <mat-icon class="light" cdkDragHandle class="handle">drag_indicator</mat-icon>
    </app-board>
  </div>
</main>
