.boards {
  width: auto;
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  overflow: scroll;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
  }
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f5f5f5;
    border: 2px solid #555555;
  }

  .handle {
    cursor: move;
  }
}

.tip {
  padding-left: 3rem;
}

.cdk-drag-placeholder {
  opacity: 0.2;
  border-radius: 10px;
  border: 4px gray dashed;
  margin: 0 10px;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.boards.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px gray dashed;
  width: 325px;
  margin: 1rem;
  padding: 2rem 1rem;
  height: 350px;
  border-radius: 10px;
}

mat-icon.light {
  color: black;
}
