mat-card {
    width: 60vw;
    min-width: 600px;
    max-width: 90vw;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

mat-nav-list {
    padding: 0 1rem;
}

mat-card.about {
    text-align: left;
}

.buttons {
    margin-top: 1rem;
    text-align: center;
}

.sub-text {
    font-size: small !important;
}