<main>
    <mat-card class="jumbotron curved">
        <mat-card-content>
            <h1>About the project</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="about curved">
        <mat-card-content>
            <p>This is a kanban project that collects <a href="https://github.com/thejykim/pankoapp#data-storage" style="color: lightskyblue; text-decoration: none;" target="_blank">basic information</a> while you use it, and returns statistics and recommendations based on calculated habits. Its aim is to
            increase productivity in a research-backed manner. The project also places an emphasis on streamlined usage with minimal clutter.</p>

            <p>The entire code base is available on GitHub, and contributions are encouraged. <strong>This is a tool that is powered by the community.</strong> Thus, bar
            immense hosting fees, all features will remain free.</p>

            <div class="buttons">
                <a mat-stroked-button href="https://github.com/thejykim/pankoapp" target="_blank"><mat-icon>code</mat-icon> GitHub</a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="about curved">
        <mat-card-content>
            <h2><strong>External Tools</strong></h2>

            <mat-nav-list>
                <a mat-list-item href="https://angular.io" target="_blank">
                    <mat-icon matListIcon>source</mat-icon>
                    <h3 matLine>Angular 6</h3>
                    <p class="sub-text" matLine>
                        <span>Structural framework</span>
                    </p>
                </a>

                <a mat-list-item href="https://firebase.google.com/docs/firestore" target="_blank">
                    <mat-icon matListIcon>dns</mat-icon>
                    <h3 matLine>Google Firestore</h3>
                    <p class="sub-text" matLine>
                        <span>Data storage, user auth, hosting</span>
                    </p>
                </a>

                <a mat-list-item href="https://github.com/swimlane/ngx-charts" target="_blank">
                    <mat-icon matListIcon>insights</mat-icon>
                    <h3 matLine>ngx-charts</h3>
                    <p class="sub-text" matLine>
                        <span>Data visualization</span>
                    </p>
                </a>

                <a mat-list-item href="https://sentim-api.herokuapp.com" target="_blank">
                    <mat-icon matListIcon>thumbs_up_down</mat-icon>
                    <h3 matLine>Sentim-API</h3>
                    <p class="sub-text" matLine>
                        <span>Sentiment analysis</span>
                    </p>
                </a>

                <a mat-list-item href="https://momentjs.com" target="_blank">
                    <mat-icon matListIcon>watch_later</mat-icon>
                    <h3 matLine>Moment.js</h3>
                    <p class="sub-text" matLine>
                        <span>Habit classifications</span>
                    </p>
                </a>

                <a mat-list-item href="https://github.com/jiayihu/ng-animate" target="_blank">
                    <mat-icon matListIcon>dynamic_feed</mat-icon>
                    <h3 matLine>ng-animate</h3>
                    <p class="sub-text" matLine>
                        <span>Component animations</span>
                    </p>
                </a>
             </mat-nav-list>
        </mat-card-content>
    </mat-card>
</main>
