<main>
    <mat-card class="jumbotron curved">
        <mat-card-content>
            <h1>About the project</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="about curved">
        <mat-card-content>
            <p>This is a kanban project that collects <a href="https://github.com/thejykim/pankoapp#data-storage" style="color: lightskyblue; text-decoration: none;" target="_blank">basic information</a> while you use it, and returns statistics and recommendations based on calculated habits. Its aim is to
            increase productivity in a research-backed manner.</p>

            <p>The entire code base is available on GitHub, and contributions are encouraged. <strong>This is a tool that is powered by the community.</strong> Thus, bar
            immense hosting fees, all features will remain free.</p>

            <div class="buttons">
                <a mat-stroked-button href="https://github.com/thejykim/pankoapp" target="_blank"><mat-icon>code</mat-icon> GitHub</a>
            </div>
        </mat-card-content>
    </mat-card>
</main>
