<mat-card class="info-card">
    <mat-card *ngIf="userStats.tasksCreated < 50" class="warning-card curved">
        <mat-card-content>It looks like you haven't handled many tasks yet. That's okay, but the data you see below may not be very accurate. 👍</mat-card-content>
    </mat-card>
    
    <mat-card class="graph-card shadow curved">
        <mat-card class="creation-card morning shadow" *ngIf="creationType === 'morning'">
            <h2>You like to delegate in the morning...</h2>
        </mat-card>

        <mat-card class="creation-card afternoon shadow" *ngIf="creationType === 'afternoon'">
            <h2>You like to delegate in the afternoon...</h2>
        </mat-card>

        <mat-card class="creation-card evening shadow" *ngIf="creationType === 'evening'">
            <h2>You like to delegate in the evening...</h2>
        </mat-card>

        <mat-card class="completion-card morning shadow" *ngIf="completionType === 'morning'">
            <h2 class="flip">...and complete most of your work in the morning.</h2>
        </mat-card>

        <mat-card class="completion-card afternoon shadow" *ngIf="completionType === 'afternoon'">
            <h2 class="flip">...and complete most of your work in the afternoon.</h2>
        </mat-card>

        <mat-card class="completion-card evening shadow" *ngIf="completionType === 'evening'">
            <h2 class="flip">...and complete most of your work in the evening.</h2>
        </mat-card>

        <h2>Activity per hour</h2>
        <div class="graph">
            <app-line-habits [single]="perDayStats" yAxisLabel="# of tasks"></app-line-habits>
        </div>
        
        <h2>Activity per day</h2>
        <div class="graph">
            <app-line-habits [single]="perWeekStats" yAxisLabel="# of tasks"></app-line-habits>
        </div>
    </mat-card>
</mat-card>