mat-expansion-panel {
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 1rem !important;
}

mat-panel-title {
    height: 60px !important;
    line-height: 60px;
}

mat-panel-title.alt-header {
    justify-content: flex-end !important;
}

.dark {
    background-color: rgb(48, 48, 48) !important;
}

.creation-card {
    text-align: left;
    padding: 4rem 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 6px black;
    width: 60%;
}

.completion-card {
    position: relative;
    overflow: hidden;
    text-align: right;
    padding: 4rem 2rem;
    margin: auto;
    margin-bottom: 3rem;
    transform: scaleX(-1);
    text-shadow: 1px 1px 6px black;
    width: 60%;
}

mat-select {
    width: fit-content !important;
    min-width: 100%;
}

::ng-deep .mat-form-field-infix {
    min-width: 75px !important;
    width: fit-content !important;
}

::ng-deep mat-select .mat-select-value {
    width: fit-content;
    min-width: 2ch;
    max-width: 25ch;
}
::ng-deep mat-select .mat-select-placeholder {
    width: fit-content;
    min-width: 10ch;
}

.flip {
    transform: scaleX(-1);
}

.morning {
    background-image: url('https://giffiles.alphacoders.com/784/78401.gif') !important;
    background-position: 50% 50% !important;
    background-size: cover;
}

.afternoon {
    background-image: url('https://i.imgur.com/5dTpkxC.gif') !important;
    background-position: 20% 50% !important;
    background-size: cover;
}

.evening {
    background-image: url('https://media1.tenor.com/images/d6dbfd06721ae493583c47a9070707a5/tenor.gif') !important;
    background-size: cover;
}

h1 {
    font-weight: 700;
}

.mat-card-image {
    margin-bottom: -22px !important;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

h2 {
    font-weight: 600;
}

.intro-card {
    text-align: center;
    margin: auto;
    padding: 6rem 10rem;
    margin-bottom: 3rem;
    max-width: 20rem;
    color: white;
}

.info-card {
    box-sizing: border-box;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 1rem;
}

.warning-card {
    color: black;
    background: #ffcf44;
    margin: 1rem 5% 1rem 5%;
    text-align: center;
}

.graph-card {
    width: 60%;
    margin: auto;
}

.graph {
    display: inline-block;
}

::ng-deep ngx-charts-area-chart {
    text, p {
        color: white !important;
        fill: white !important;
    }
}

::ng-deep ngx-charts-line-chart {
    text, p {
        color: white !important;
        fill: white !important;
    }
}

::ng-deep .gridline-path-vertical {
    display: none;
}