<mat-card>

    <div *ngIf="isSignup">
        <h3>Create an account</h3>

        <button size="small" mat-stroked-button (click)="changeType('login')">
            Returning user?
        </button>
    </div>

    <div *ngIf="isLogin">
        <h3>Login</h3>
        <button size="small" mat-stroked-button (click)="changeType('signup')">
            Don't have an account?
        </button>
    </div>

    <div *ngIf="isPWReset">
        <h3>Forgot your password?</h3>
        <button size="small" mat-stroked-button (click)="changeType('login')">
            Back
        </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field [color]="email.valid && 'accent'">
            <input matInput formControlName="email" type="email" placeholder="Email"/>

            <mat-error *ngIf="email.invalid && email.dirty">
                You must enter a valid email address!
            </mat-error>
        </mat-form-field>

        <mat-form-field [color]="email.valid && 'accent'" *ngIf="!isPWReset">
            <input matInput formControlName="password" type="password" placeholder="Password"/>

            <mat-error *ngIf="password.invalid && password.dirty">
                Your password must be at least 6 characters long.
            </mat-error>
        </mat-form-field>

        <mat-form-field [color]="passwordMatch ? 'accent' : 'warn'" *ngIf="isSignup">
            <input matInput formControlName="passwordConfirm" type="password" placeholder="Confirm password"/>

            <mat-error *ngIf="!passwordMatch && passwordConfirm.dirty">
                Your password must be at least 6 characters long.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || !passwordMatch || loading">
            <div *ngIf="isLogin">Login</div>
            <div *ngIf="isSignup">Register</div>
            <div *ngIf="isPWReset">Confirm</div>
        </button>
    </form>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

    <button *ngIf="isPWReset" mat-stroked-button type="submit" [disabled]="loading">
        Send confirmation email
    </button>
</mat-card>
