// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$custom-typography: mat-typography-config(
  $font-family: "Inter",
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-primary: (
  50 : #e3f5fd,
  100 : #bae7fb,
  200 : #8cd7f9,
  300 : #5ec7f6,
  400 : #3cbbf4,
  500 : #19aff2,
  600 : #16a8f0,
  700 : #129fee,
  800 : #0e96ec,
  900 : #0886e8,
  A100 : #ffffff,
  A200 : #deefff,
  A400 : #abd7ff,
  A700 : #91caff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$kanban-primary: mat-palette($custom-primary);
$kanban-accent: mat-palette($custom-primary);

// The warn palette is optional (defaults to red).
$kanban-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kanban-theme: mat-dark-theme($kanban-primary, $kanban-accent, $kanban-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kanban-theme);

/* You can add global styles to this file, and also import other style files */

$primary: map-get(
  $map: $kanban-theme,
  $key: primary,
);

:root {
  --color-primary: #{mat-color($kanban-theme)};
  --color-accent: #{mat-color($kanban-accent)};
  --color-warn: #{mat-color($kanban-warn)};
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  padding: 3rem;
}

.logo {
  font-weight: 700;
}

.centered {
  display: flex;
  justify-content: center;
}

.fill-space {
  flex: 1 1 auto;
}

mat-card.curved {
  border-radius: 20px !important;
}

mat-card.shadow {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5) !important;
}

mat-dialog-container {
  border-radius: 10px !important;
}

.animated-gradient {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pro-gradient {
  background: rgb(231,60,179);
  background: linear-gradient(320deg, rgba(231,60,179,1) 0%, rgba(238,121,82,1) 67%);
}