.outer-card {
  margin: 1rem;
  min-width: 300px;
  max-width: 300px;
  padding: 2rem 1rem;
}

.inner-card {
  margin: 1rem 0;
  cursor: pointer;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue {
  background: #71deff;
  color: black;
}

.green {
  background: #36e9b6;
  color: black;
}

.yellow {
  background: #ffcf44;
  color: black;
}
.purple {

  background: #b15cff;
}

.red {
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}

.mat-card-title {
  font-weight: 600
}