.outer-card {
  margin: 1rem;
  min-width: 300px;
  max-width: 300px;
  padding: 2rem 1rem;
}

.light {
  background: rgb(219,219,219);
  background: linear-gradient(80deg, rgba(219,219,219,1) 0%, rgba(238,238,238,1) 74%);
}

.inner-card {
  margin: 1rem 0;
  cursor: pointer;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue {
  background: #71deff;
}

.green {
  background: #36e9b6;
}

.yellow {
  background: #ffcf44;
}
.purple {
  color: white;
  background: #b15cff;
}

.red {
  color: white;
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}

.mat-card-title {
  font-weight: 600
}