.outer-card {
  margin: 1rem;
  min-width: 300px;
  max-width: 300px;
  padding: 2rem 1rem;
}

mat-card.light {
  background: rgb(219,219,219);
  background: linear-gradient(80deg, rgba(219,219,219,1) 0%, rgba(238,238,238,1) 74%);
}

mat-card.dark {
  color: black;
  background: rgb(131,131,131);
  background: linear-gradient(40deg, rgba(131,131,131,1) 0%, rgba(179,179,179,1) 74%);
}

::ng-deep .mat-card-header-text {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card-title {
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px transparent solid;
  color: black;
}

mat-card-title:hover {
  border: 1px rgb(201, 201, 201) solid;
}

.boardTitle {
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px transparent solid;
  margin-bottom: 12px;
  height: 1em;
  font: inherit;
  background-color: transparent;
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.inner-card {
  margin: 1rem 0;
  cursor: pointer;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue {
  color: black;
  background: #71deff;
}

.green {
  color: black;
  background: #36e9b6;
}

.yellow {
  color: black;
  background: #ffcf44;
}
.purple {
  color: white;
  background: #b15cff;
}

.red {
  color: white;
  background: #e74a4a;
}

.gray {
  background: gray;
  text-decoration: line-through;
}

.mat-card-title {
  font-weight: 600
}